@model FribergCarRentals.ViewModels.OverviewVM;

   
@{
    ViewData["Title"] = "Overview";
}


<div class="text-center">
    <h2>Admin overview</h2>
    
    <p>Deliveries today: @Model.DeliveryToday</p>
    <p>Upcoming deliveries: @Model.DeliveryUpcoming</p>
    <p>Fleet size: @Model.FleetSize</p>
    <p>Customer stock: @Model.CustomerStock</p>
    
</div>
